.header {
	background:url('images/veterinarian-headerbg.png');
	border:solid 1px #193205;
	margin:0;
	padding:0;
	overflow:hidden;
}
/* Menu Style
========================================================*/
.menu_bar {
	background:#a0bb3b url(images/veterinarian-menubg.png) bottom repeat-x;
	border-top:solid 1px #a0bb3b;
	background-color:#a0bb3b;
}
#menu .ddsmoothmenu li {
	background:url(images/veterinarian-menu-sep.png) no-repeat;
}
#menu .ddsmoothmenu li a {
	background:url(images/veterinarian-menubg.png) bottom repeat-x;
}
#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover, #menu li.current_page_item a {
	color:#fff;
	background:url(images/veterinarian-menu-tip.png) bottom center no-repeat;
}
#menu li:hover a, #menu li.current_page_item  a{
	color:#fff;
	background:url(images/veterinarian-menuhoverbg.png) left center repeat-x;
}
#menu li a:hover {
	color:#fff;
}
#menu .ddsmoothmenu li li:first-child {
	background-image:none;
}
#menu .ddsmoothmenu li li:first-child:before {
	border:solid 1px #fff;
}
#menu .ddsmoothmenu li li {
	background:#4d5b11;
}
#menu .ddsmoothmenu li li a {
	background:url(images/veterinarian-submenu-sep.png) repeat-x;
}
#menu .ddsmoothmenu li li a:hover{
color:#88912a;
}
/*signup form
========================================================*/
.signup {
	width:100%;
	height:auto;
	background: #88912a url(images/veterinarian-formbg.png) repeat-x;
	padding-bottom:25px;
	border:solid 1px #3e6402;
	border-top:none;
	display:inline-block;
}
.signup .signupleft .signupinfo h1 {
	text-shadow:0 2px 1px #616c28;
}
.signup .signupleft .signup-text p {
	text-shadow:0 1px 0 #616c28;
}
.signup .signupleft .signupinfo {
	color:#1e1803;
	text-shadow:0 2px 0 #4b4b4b;
}
.signup .signupform input[type="text"] {
	border:solid 1px #3e6402;
}
.signup .signupform textarea {
	border:solid 1px #3e6402;
}
/*Feature Content
===============================================*/
.feature_contentbox {
	border-bottom:solid 2px #4e7c06;
}
.feature_contentbox.last {
	border-bottom:solid 2px #4e7c06;
}
.feature_contentbox a.readmore {
	color:#4e7c06;
}
.feature_contentbox a.readmore:hover {
	opacity:0.5;
}
/*contact page
=======================================================*/

.contactForm input[type="text"]:focus, .contactForm textarea:focus {
	background:#fff;
	border:1px solid #4e7c06;
}
.contactForm input[type="submit"] {
	background:#49801c;
	padding:5px;
	border:solid 1px #a0bb3b;
}
/*Blog Page
===================================================*/
.content-bar .post .post_title a:hover {
	color:#4e7c06;
}
.content-bar .post .post_content .read_more {
	background-color:#4e7c06;
}
.content-bar .post .post_meta a:hover {
	color:#4e7c06;
}
.content-bar .post .post_meta .post_comment a:hover {
	color:#4e7c06;
}
/*-----------------------------------------------------*/
/* Commentlist Style*/
/*-----------------------------------------------------*/

#commentform input#submit {
	background:#4e7c06;
	padding:5px;
	border:solid 1px #a0bb3b;
}
#commentform input#submit:hover {
	opacity:0.5;
	color:#fff;
}
/* Commentform Style
-------------------------------------------------------*/
#commentform input[type="text"]:focus, textarea#comment:focus {
	background:#fff;
	border:1px solid #4e7c06;
}
/*Sidebar 
====================================================*/
.sidebar ul li a:hover {
	color:#4e7c06;
}
/*Footer
===========================================================*/
.footer-wrapper .footer a:hover {
	color:#4e7c06;
	padding-top:5px;
}
.copyright_left a:hover {
	color:#4e7c06;
}
.copyright .copyrightinfo a:hover {
	color:#4e7c06;
}
